@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:wght@200;400;700&display=swap');

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #242424;
        --bgDark: #141414;
        --font: #c2c2c2;
        --fontDark: #e7e7e7;
        /* theme */
        --theme: #b8b8b8;
        --themeHover: #dddddd;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #ffffff;
        --bgDark: #fafafb;
        --font: #434853;
        --fontDark: #10161b;
        /* theme */
        --theme: #a7a7a7;
        --themeHover: #777777;
    }
}

body {
    background-color: var(--bgDark);
    color: var(--font);
    font-family: 'Nunito', sans-serif;
    background-image: url(../img/bg.png);
    background-size: cover;
}

nav {
    margin-top: 2.5rem;
    background-color: transparent;
    box-shadow: none;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 2rem !important;
}

a {
    color: var(--fontDark) !important;
    opacity: .8;
    font-weight: bold;
}

a:hover {
    opacity: 1;
}

.brand-logo {
    color: var(--theme) !important;
    font-family: 'Fugaz One', cursive;
    font-weight: bold;
    font-size: 3rem !important;
    margin-left: 1rem;
    filter: brightness(.8);
}

.card {
    margin-bottom: 1.3rem;
    padding: 3px;
    border-radius: .3rem !important;
    /* bg & animation */
    background: radial-gradient(circle, #a3a3a3, #333333);
    background-size: 150% 150%;
    -webkit-animation: colorAnimation 5s ease-in-out infinite, .5s forwards;
    animation: colorAnimation 5s ease-in-out infinite, fadeIn .5s forwards;
}

.card:hover {
    transition: .3s;
    box-shadow: 0px 0px 5px 1px var(--themeHover);
    
}

.card:hover .card-title {
    color: var(--themeHover) !important; 
    transition: .3s;
}

.card-content {
    font-weight: bolder !important;
    background-color: var(--bgDark);
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
}

.card .card-content {
    border-radius: 0 0 0px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-title::before {
    content: "📁 ";
    text-shadow: none;
}

.card-title {
    color: var(--theme);
    font-weight: bolder !important;
}

.card-action {
    border-top: none !important;
    background-color: var(--bgDark) !important;
    font-size: small;
}

.card-description {
    overflow-y: scroll;
    max-height: 22px;
    color: var(--font);
    scrollbar-width: none;
}

.card-description::-webkit-scrollbar {
    display: none;
}

.code-colour {
    padding-right: 1.2rem;
    border-radius: 100%;
    margin-right: 5px;
}

.page-footer {
    background-color: transparent !important;
    margin-top: 25px;
}

.bio {
    font-size: 18px;
}

.icon {
    opacity: .8;
    font-weight: normal;
}

.icon:hover {
    opacity: 1;
}

.footer-icon {
    display: none;
}

.footer {
    background-color: transparent;
    opacity: 20%;
    padding: 20px;
}

.small-text {
    font-size: .82rem;
    color: var(--font);
}

.row {
    margin-top: 1rem !important;
}

.img {
    padding: 5px;
}

.img-collection {
    padding: 5px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-animation: fadeIn .8s forwards;
    animation: fadeIn .8s forwards;
}

/* logo colours */
.linkedIn {
    color: #2867b2 !important;
}

.github {
    color: #575757 !important;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    } 100% {
        bottom: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    } 100% {
        bottom: 0;
    }
}

@keyframes colorAnimation {
	0% {
        background-position: top;
    }
    25% {
        background-position: right;
    }
    50% {
        background-position: bottom;
    }
    75% {
        background-position: left;
    }
    100% {
        background-position: top;
    }
}
@-webkit-keyframes colorAnimation {
	0% {
        background-position: top;
    }
    25% {
        background-position: right;
    }
    50% {
        background-position: bottom;
    }
    75% {
        background-position: left;
    }
    100% {
        background-position: top;
    }
}

/* resize */
@media (max-width: 1000px) {
    .info {
        font-size: 1.3rem;
    }
    
    .bio {
        font-size: 15px;
    }

    .icon {
        display: none;
    }

    .row .col.m6 {
        width: 100%;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        font-size: 24px !important;
    }

    .footer-icon {
        font-size: 1.7rem !important;
        padding: 5px;
        float: right;
        display: initial;
    }

    .img {
        height: 47px;
        width: 47px;
    }

    .brand-logo {
        margin-left: 0;
    }
}
