@import url('https://fonts.googleapis.com/css?family=Nunito:300,400|Fugaz+One&display=swap');

:root {
    --primary: #141414;
    --secondary: #2996fc;
    --tertiary: #eb32fc;
  }

body {
    background-color: var(--primary);
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    background-image: url('../img/bg.png');
}

nav {
    margin-top: 2.5rem;
    background-color: transparent;
    box-shadow: none;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 2rem !important;
}

a {
    color: var(--tertiary) !important;
    opacity: .8;
    font-weight: bold;
}

a:hover {
    opacity: 1;
}

.brand-logo {
    font-weight: bold;
    font-size: 3rem !important;
    font-family: 'Fugaz One', cursive;
    -webkit-text-fill-color: transparent;
	background-clip: inherit;
    -webkit-background-clip: text;
    /* animation */
    -webkit-animation: titleColor 10s ease infinite;
    animation: titleColor 10s ease infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.card {
    margin-bottom: 1.3rem;
    background: radial-gradient(var(--secondary), var(--tertiary));
    background-size: 300% 300%;
    padding: 3px;
    -webkit-animation: colorAnimation 10s ease-in-out infinite, fadeIn .8s forwards;
    animation: colorAnimation 10s ease-in-out infinite, fadeIn .8s forwards;
    bottom: -20px;
    color: #FFF;
}

.card:hover {
    box-shadow: 12px 12px #0e0f10;
}

.card-content {
    background-color: var(--primary);
    opacity: .85;
}

.card-action {
    background-color: var(--primary) !important;
    border-top: 2px solid transparent;
    opacity: .85;
}

.card-description {
    overflow-y: scroll;
    max-height: 22px;
}

.card-description::-webkit-scrollbar {
    display: none;
}

.page-footer {
    background-color: transparent !important;
    margin-top: 25px;
}

.info {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: -15px;
}

.bio {
    font-size: 18px;
}

.icon {
    opacity: .8;
    font-weight: normal;
}

.icon:hover {
    opacity: 1;
}

.footer-icon {
    display: none;
}

.footer {
    background-color: transparent;
    opacity: 20%;
    padding: 20px;
}

.small-text {
    font-size: .82rem;
    opacity: 50%;
}

.row {
    margin-top: 1rem !important;
}

.img {
    padding: 5px;
}

.img-collection {
    padding: 5px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-animation: fadeIn .8s forwards;
    animation: fadeIn .8s forwards;
}

/* logo colours */

.linkedIn {
    color: #2867b2 !important;
}

.github {
    color: #575757 !important;
}

.icon8 {
    color: #5bc347 !important;
    font-weight: bold;
}



/* Animations */

@keyframes colorAnimation {
	0% {
        background-position: top;
    }
    25% {
        background-position: right;
    }
    50% {
        background-position: bottom;
    }
    75% {
        background-position: left;
    }
    100% {
        background-position: top;
    }
}

@-webkit-keyframes colorAnimation {
	0% {
        background-position: top;
    }
    25% {
        background-position: right;
    }
    50% {
        background-position: bottom;
    }
    75% {
        background-position: left;
    }
    100% {
        background-position: top;
    }
}

@keyframes titleColor {
    0% {
        background-color: var(--secondary);
	}
	100% {
		background-color: var(--tertiary);
	}
}

@-webkit-keyframes titleColor {
    0% {
        background-color: var(--secondary);
	}
	100% {
		background-color: var(--tertiary);
	}
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    } 100% {
        bottom: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    } 100% {
        bottom: 0;
    }
}

/* resize */
@media (max-width: 1000px) {
    .info {
        font-size: 1.3rem;
    }
    
    .bio {
        font-size: 15px;
    }

    .icon {
        display: none;
    }

    .row .col.m6 {
        width: 100%;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        font-size: 24px !important;
    }

    .footer-icon {
        font-size: 1.7rem !important;
        padding: 5px;
        float: right;
        display: initial;
    }

    .img {
        height: 47px;
        width: 47px;
    }
}
