@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:wght@200;400;700&display=swap');

:root {
    --theme: linear-gradient(43deg, #5090ff 0%, #ff6be1 50%, #ffb97c 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgDark: #000000;
        --font: #c2c2c2;
        --fontDark: #e7e7e7;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bgDark: #fafafb;
        --font: #434853;
        --fontDark: #10161b;
    }
}

html {
    background-color: var(--bgDark);
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    color: var(--font);
    font-family: 'Nunito', sans-serif;
    animation: fadeIn .6s forwards;
    -webkit-animation: fadeIn .6s forwards;
}

nav {
    margin-top: 2.5rem;
    background-color: transparent;
    box-shadow: none;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 2rem !important;
}

a {
    color: var(--fontDark) !important;
    font-weight: bold;

}

a:hover {
    opacity: 1;
    text-decoration: underline;
}

h4 {
    font-family: 'Fugaz One', cursive;
    font-weight: bold;
    background: var(--theme);;
    -webkit-text-fill-color: transparent;
	background-clip: inherit;
    -webkit-background-clip: text;
    display: inline;
}

h5, h6 {
    font-family: 'Fugaz One', cursive;
    font-weight: bold;
}


blockquote {
    border-left: 5px solid var(--fontDark);
}

.brand-logo {
    font-family: 'Fugaz One', cursive;
    font-weight: bold;
    font-size: 3rem !important;
    background: var(--theme);;
    -webkit-text-fill-color: transparent;
	background-clip: inherit;
    -webkit-background-clip: text;
    background-size: 130% 130%;
    -webkit-animation: colorAnimation 5s ease-in-out infinite, .5s forwards;
    animation: colorAnimation 5s ease-in-out infinite;
    margin-left: 1rem;
}

.card {
    z-index:1;
    width: 100%;
    margin-bottom: 1.3rem;
    padding: 3px;
    border-radius: .3rem !important;
    background-size: 150% 150%;
    background: var(--theme);;
    position: relative;
    transform: translate(0);
    transition: .3s;
}

.card::before {
    z-index:-1;
    content:"";
    position: absolute;
    inset: 0;
}

.card:hover::before
{
    transition: .3s;
    background: var(--theme);;
    filter: blur(7px);
}

.card:hover {
    transition: .3s;
    filter: brightness(120%);

}

.card-thumbnail img {
    width: 100%;
    display: block;
    margin-bottom: .2rem;
    padding: .5rem;
    border-radius: .3rem !important;
    background-color: var(--bgDark);
}


.card-title {
    display: inline !important;
    background: var(--theme);;
    -webkit-text-fill-color: transparent;
	background-clip: inherit;
    -webkit-background-clip: text;
    /* background-size: 100% 100%; */
}

.card-content {
    font-weight: bolder !important;
    background-color: var(--bgDark);
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
    min-height: 7rem;
    max-height: 7rem;
}

.card .card-content {
    border-radius: 0 0 0px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.row a {
    text-decoration: none !important;
}

.popup-box a:hover {
    text-decoration: underline !important;
}
.card-title {
    color: var(--theme);
    font-weight: bolder !important;
    overflow: hidden;
    text-decoration: none !important;
}

.card-action {
    border-top: none !important;
    background-color: var(--bgDark) !important;
    font-size: small !important;
    font-weight: bold !important;
    color: var(--fontDark) !important;
}

.card-description {
    overflow-y: scroll;
    max-height: 22px;
    color: var(--font);
    scrollbar-width: none;
}

.card-description::-webkit-scrollbar {
    display: none;
}

.title-link {
    float: right; 
    margin-right: 0; 
    font-size: 1.5rem;
}

.code-colour {
    padding-right: 1.2rem;
    border-radius: 100%;
    margin-right: 5px;
}

.page-footer {
    background-color: transparent !important;
    margin-top: 25px;
}

.bio {
    font-size: 18px;
    border-radius: .3rem !important;
    background-size: 150% 150%;
    background: var(--theme);;
    position: relative;
    transform: translate(0);
    transition: .3s;
    padding: 3px;
}

.bio p {
    background-color: #000000;
    margin: 0;
    padding: 1rem;
}

.footer-icon {
    display: none;
}

.footer {
    background-color: transparent;
    color: var(--font);
    opacity: 20%;
    padding: 20px;
}

.small-text {
    font-size: .82rem;
    color: var(--font);
}

.row {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.img {
    padding: 5px;
}

.img-collection {
    padding: 5px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}

.github-link {
    float: right;
    font-size: 1.5rem;
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    background: var(--theme);;
    -webkit-text-fill-color: transparent;
	background-clip: inherit;
    -webkit-background-clip: text;
    background-size: 130% 130%;
    padding-top: 1px;
    padding-right: 1px;
}

[id^=project-git] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
[id^=project-git]:target {
    display: block;
}

[id^=project] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
[id^=project]:target {
    display: block;
}

.popup {
    width: 100%;
    height: 100%;
    z-index: 99999;
    transition: .3s;
    animation: fadeIn .3s forwards;
    -webkit-animation: fadeIn .3s forwards;
}
.popup-overlay {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000d8;
}
.popup-wrapper {
    position: fixed;
    z-index: 9;
    width: 60%;
    max-width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .3rem !important;
    padding: 3px;
    padding-right: 3px !important;
    padding-bottom: 3px !important;
    background: var(--theme);;
}

.popup-content {
    background-color: var(--bgDark);
    width: 100%;
    height: 850px;
    font-size: 18px;
}

.popup-content img {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 800px;
    display: block;
    object-fit:scale-down;
}

.popup-box {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: .2rem;
    padding: .8rem;
    border-radius: .3rem !important;
    background-color: var(--bgDark);
    position: relative;
    overflow-y: scroll;
}

.popup-close {
    position: absolute;
    top: 16px;
    right: 26px;
    z-index: 10;
}

/* Scrollbar CSS */
::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    background: var(--bgDark); 
}

::-webkit-scrollbar-thumb {
    background: var(--theme);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme);
}

/* logo colours */
.linkedIn {
    color: #2867b2 !important;
}

.github {
    color: #575757 !important;
}

.tags {
    font-weight: 500;
    font-size: 10px !important;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    } 100% {
        bottom: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    } 100% {
        bottom: 0;
    }
}

@keyframes colorAnimation {
	0% {
        background-position: top;
    }
    25% {
        background-position: right;
    }
    50% {
        background-position: bottom;
    }
    75% {
        background-position: left;
    }
    100% {
        background-position: top;
    }
}
@-webkit-keyframes colorAnimation {
	0% {
        background-position: top;
    }
    25% {
        background-position: right;
    }
    50% {
        background-position: bottom;
    }
    75% {
        background-position: left;
    }
    100% {
        background-position: top;
    }
}

/* resize */
@media (max-width: 1000px) {
    .info {
        font-size: 1.3rem;
    }

    .bio {
        font-size: 15px;
    }

    .icon {
        display: none;
    }

    .row .col.m4 {
        width: 100%;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        font-size: 24px !important;
    }

    .footer-icon {
        font-size: 1.7rem !important;
        padding: 5px;
        float: right;
        display: initial;
    }

    .img {
        height: 47px;
        width: 47px;
    }

    .brand-logo {
        margin-left: 0;
    }

    .card {
        width: 100%;
    }

    .popup-wrapper {
        width: 90%;
        max-width: 90%;
    }

    .popup-content {
        height: 650px;
        font-size: 15px;
    }
}